*, h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.html {
  background-color: var(--default-background-color);
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  scroll-behavior: smooth;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: var(--button-background-hover-color);
  color: var(--button-text-hover-color);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
}

.card__header {
  text-align: center;
}

.card__content {
  margin-top: 1rem;
  word-break: break-word;
}

.card__button {
  margin: auto auto 0 auto;
}

.header {
  position: fixed;
  top: 0;
  min-height: var(--header-height);
  width: 100%;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__list {
  display: flex;
  justify-content: center;
}

.navigation__list-item {
  margin: 0 0.5rem;
}

.navigation__list-item__link {
  color: var(--nav-link-text-color);
}

.navigation__list-item__link:link {
  text-decoration: none;
}

.navigation__list-item__link:hover,
.navigation__list-item__link:focus {
  color: var(--nav-link-text-hover-color);
}

.introduction {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction__header {
  font-family: var(--header-font-family), sans-serif;
  font-size: 4rem;
  text-align: center;
}

.introduction__content {
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: center;
}

.section {
  margin: 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: var(--header-height);
}

.section__header,
.card__header {
  align-self: flex-start;
}

.skills-row,
.projects-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-card {
  height: 14rem;
  width: 15rem;
}

.project-card {
  height: 18rem;
  width: 15rem;
}

.about,
.contact {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}

.about__content,
.contact__content {
  margin: 0 10rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__link {
  margin-top: 2rem;
}

@media (max-width: 1280px) {
  .section {
    margin: 0 10rem;
  }
}

@media (max-width: 992px) {
  .section {
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .about__content,
  .contact__content {
    margin: 0 5rem;
  }
}

@media (max-width: 600px) {
  .introduction__content {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card {
    margin: 1rem 2rem;
  }

  .about__content,
  .contact__content {
    margin: 2rem;
  }
}