.colors {
  --linen: #f7ede2ff;
  --black-coral: #5e6472ff;
  --light-grey: #889;
  --powder-blue: #aed9e0ff;
  --melon: #ffa69eff;
  --maximum-yellow-red: #f6bd60ff;
  --light-coral: #f28482ff;

  /* --font-lato: "Lato"; */
  --font-oswald: "Oswald";
  --font-roboto-mono: "Roboto Mono";
}

.concepts {
  /* Fonts */
  --concept-font-family-primary: var(--font-roboto-mono);
  --concept-font-family-secondary: var(--font-oswald);

  /* Colours */
  --concept-background-color-primary: var(--black-coral);
  --concept-foreground-color-primary: var(--linen);

  --concept-background-color-secondary: var(--light-grey);
  --concept-foreground-color-secondary: var(--linen);

  --concept-accent-color-primary: var(--linen);

  --concept-background-color-tertiary: var(--powder-blue);
  --concept-foreground-color-tertiary: var(--black-coral);
}

.entities {
  /* Defaults */
  --default-background-color: var(--concept-background-color-primary);
  --default-font-family: var(--concept-font-family-primary);
  --default-text-color: var(--concept-foreground-color-primary);

  /* Card */
  --card-background-color: var(--concept-background-color-secondary);
  --card-text-color: var(--concept-foreground-color-secondary);

  /* Nav */
  --nav-link-text-color: var(--concept-foreground-color-secondary);
  --nav-link-text-hover-color: var(--concept-accent-color-primary);

  /* Buttons */
  --button-background-color: var(--concept-background-color-tertiary);
  --button-text-color: var(--concept-foreground-color-tertiary);
  --button-background-hover-color: var(--concept-accent-color-primary);
  --button-text-hover-color: var(--concept-background-color-primary);

  /* Header */
  --header-background-color: var(--concept-background-color-secondary);
  --header-font-family: var(--concept-font-family-secondary);
  --header-height: 3rem;

  /* Section */
  /* --section-header-text-color: var(--concept-foreground-primary); */
}